# database
DB_USER_env=
DB_PASSWORD_env=
DB_HOST_env=
DB_PORT_env=
DB_NAME_env=
DB_URL=f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# security
SECRET_KEY_env="SECRET_KEY_env"
ALGO_env="ALGO_env"
TOKEN_EXPIRE_env=<num_en_min>

#paths
cv_me_standard_env=<path>
vid_stress_env=<path>
vid_normal_env=<path> 