# --- Framework & Serveur API ---
fastapi
uvicorn
python-multipart           # INDISPENSABLE pour l'upload de fichiers (FormData du CV)

# --- Base de données ---
sqlalchemy
psycopg2-binary

# --- Sécurité, Auth & Configuration ---
python-dotenv
passlib[bcrypt]
python-jose[cryptography]  # Pour la gestion des tokens JWT
PyJWT                      # (Note : Fait la même chose que python-jose, conservé au cas où ton code l'utilise)

# --- Traitement de Fichiers (CV PDF) ---
pdfplumber
PyMuPDF                    # Utilisé pour ton script de matching

# --- IA, NLP & Machine Learning ---
sentence-transformers
scikit-learn
openai                     # Pour la connexion au client Ollama en local

# --- Tests ---
pytest
httpx                      # Requis par FastAPI pour les tests (TestClient)
# --- Video Analysis ---
opencv-python-headless
deepface
tf-keras
